@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
	margin: 0px;
	padding: 0px;
}
body {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
	url("../assets/images/fundo.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.top {
	height: 250px;
	width:400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #212121E6;
	border-radius: 30px;
	margin-bottom: 30px;
}
.logo {
	height: 80px;
	width: 80px;
	border-radius: 2000px;
	margin-bottom: 20px;
}
.title {
	color: #ffffff;
	font-size; 28px;
	font-family: "Libertinus Serif", serif;
}
.threads {
	height: 14px;
	width: 14px;
}
.bsky {
	height: 14px;
	width: 14px;
	margin-left: 12px;
}
.github {
	height: 14px;
	width: 14px;
	margin-left: 12px;
}
.links {
	text-decoration: none;
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
}
.textfinal {
	font-size: 8px;
	color: #ffffff;
	margin-top: 30px;
}
